// section2
$bgIcon-color: #F9F0FF; //varible

.wrapperIcon{
    display: flex;
    justify-content: center;
    align-items: center;

.icon_txt_s2{
    background-color:$bgIcon-color;
    padding: 10px 10px;
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    display: flex;
}
}

.sassSection{
    .container {
        .main-title{
            h4{
                font-size: 3em;
            }
        }
    }
} 
  


.sassSection .container .main-title  p{
    font-size: 0.88em;
    color: #8989A2;
}
